<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Власні майданчики</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_my.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body class="app-body">

<div class="header">
    <div class="header-app-name">
        <h1>EasyEvent</h1>
    </div>
    <div class="header-links">
        <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" th:href="@{/index}">Головна</a>
        <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"  th:href="@{/venues/create}">Власникам майданчиків</a>
        <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" th:href="@{/sendApplicationForm}">Організаторам</a>

        <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" class="notification-icon" id="notification-icon">
            <img src="/img/bellWhite.png" class="notification-img" alt="decline"/>
        </a>

        <ul class="menu">
            <li>
                <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"

                   th:href="@{/profile/me}" th:text="${#authentication.principal.username}">Мій акаунт</a>
                <div th:unless="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}">
                    <!-- If not authenticated or if principal is not UserDetails -->
                    <a th:href="@{/login}">Увійти</a>
                </div>

                <ul th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}">
                    <li>
                        <a th:href="@{/logout}">Вийти</a>
                    </li>
                    <!--                    <li>-->
                    <!--                        <a th:if="${isAdmin}">Додати артиста</a>-->
                    <!--                    </li>-->
                </ul>


            </li>
        </ul>
    </div>
</div>


<div class="main-block">

    <div class="content-block main-content-block">
        <form class="scrollable-block profile-my-form"  th:action="@{/activity/create}" method="post">
            <h1 class="page-title">Створити подію</h1>
            <div class="inline-elements">
                <p class="field-name">Назва</p>
                <input class="field-input" type="text" id="title" name="title" required>
            </div>
            <div class="inline-elements">
                <p class="field-name">Вмістимість</p>
                <input class="field-input" type="number" id="amountSeats" name="amountSeats" required>
            </div>
            <div class="inline-elements">
                <p class="field-name">Опис</p>
                <textarea class="field-input field-textarea" type="text" id="description" name="description"
                          required></textarea>
            </div>
            <div class="inline-elements">
                <label class="field-name">Організація</label>
                <input th:value="${profile.getOrganisation()}"  class="field-input" id="organisation" name ="organisation" type ="text"  required>
            </div>
            <div class="inline-elements">
                <label class="field-name">Жанр</label>
                <input class="field-input" id="genre" name="genre" list="genre-list" required onchange="updateStyles()">
                <datalist id="genre-list">
                    <option>Театр</option>
                    <option>Концерт</option>
                    <option>Фестиваль</option>
                    <option>StandUp</option>
                </datalist>
            </div>
            <div class="inline-elements">
                <label class="field-name">Стиль</label>
                <input class="field-input" type="text" id="activityType" name="activityType" list="styles-list" required>
                <datalist id="styles-list"></datalist>
            </div>
            <button class="standart-button">Зберегти</button>
            <a th:href="@{/profile/me}" class="standart-button">Назад</a>
        </form>
    </div>
</div>
</div>


</body>
<script>
    function updateStyles() {
        var genre = document.getElementById('genre').value;
        var stylesList = document.getElementById('styles-list');


        while (stylesList.firstChild) {
            stylesList.removeChild(stylesList.firstChild);
        }

        var styles = [];

        if (genre === "Театр") {
            styles = [
                "Трагедія",
                "Комедія",
                "Трагікомедія",
                "Драма",
                "Опера",
                "Балет",
                "Оперета",
                "Мюзикл",
                "Театр ляльок",
                "Театр тіней",
                "Музичний театр",
                "Драматичний театр",
                "Театр маріонеток",
                "Пальчиковий театр",
                "Пантоміма",
                "Рок-опера",
                "Театр абсурду",
                "Епічний театр",
                "Народний театр",
                "Фентезі"
            ];
        } else if (genre === "Концерт") {
            styles = [
                "Поп-концерти",
                "Рок-концерти",
                "Реп- та хіп-хоп-концерти",
                "Електронні концерти",
                "Джазові концерти",
                "Блюзові та соул-концерти",
                "Кантрі-концерти",
                "Класичні концерти",
                "Фолк-концерти",
                "Мюзикл-концерти"
            ];
        } else if (genre === "Фестиваль") {
            styles = [
                "Музичний",
                "Мистецький",
                "Історичний",
                "Гастрономічний",
                "Кінофестиваль"
            ];
        } else if (genre === "StandUp") {
            styles = [
                "Імпровізація",
                "Відкритий мікрофон",
                "Персональний виступ"
            ];
        }

        styles.forEach(function(style) {
            var option = document.createElement('option');
            option.value = style;
            stylesList.appendChild(option);
        });
    }
</script>

</html>