<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Подання заявки</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_create.css">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const today = new Date().toISOString().split("T")[0]; // формат YYYY-MM-DD
            const startDateInput = document.getElementById("startDate");
            const endDateInput = document.getElementById("endDate");
            const errorMessage = document.getElementById("error-message");

            // Встановлюємо мінімальну дату на сьогоднішню дату
            startDateInput.setAttribute("min", today);

            startDateInput.addEventListener("change", function () {
                const startDate = startDateInput.value;
                if (startDate) {
                    // Встановлюємо мінімальну дату для дати закінчення
                    endDateInput.setAttribute("min", startDate);
                }
            });

            const form = document.querySelector(".profile-create-form");
            form.addEventListener("submit", function (event) {
                const startDate = startDateInput.value;
                const endDate = endDateInput.value;
                const startHour = parseInt(document.getElementById("startTimeHour").value);
                const startMinute = parseInt(document.getElementById("startTimeMin").value);
                const endHour = parseInt(document.getElementById("endTimeHour").value);
                const endMinute = parseInt(document.getElementById("endTimeMin").value);

                errorMessage.textContent = "";

                // Перевірка на неправильну дату закінчення
                if (startDate === endDate) {
                    const startTimeInMinutes = startHour * 60 + startMinute;
                    const endTimeInMinutes = endHour * 60 + endMinute;

                    if (endTimeInMinutes <= startTimeInMinutes) {
                        console.log(endTimeInMinutes);
                        console.log(startTimeInMinutes);
                        event.preventDefault();
                        errorMessage.textContent = "Час закінчення не може бути раніше часу початку!";
                    }
                }
            });
        });
    </script>


</head>
<style>
    .app-text2 {
        font-size: 20px;
        text-align: justify;
        text-indent: 40px;
    }

    .error-message {
        color: red;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }

    .venue-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .venue-table th, .venue-table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    .venue-table th {
        background-color: #f2f2f2;
    }

    .filter-container {
        margin: 10px 10px 10px;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 110px;
    }

    .filter-input {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 114px;
        height: 30px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }


    .filter-button2 {
        padding: 5px 10px;
        background-color: #C12D3C;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: inline-block;
    }

    .button-div {
        display: flex;
        justify-content: center;
    }

    .button-div button {
        width: 150px;
        height: 40px;
        text-align: center;
        font-size: 15px;
    }
</style>
<body class="main-block-fullscreen">
<div class="header">
    <div class="header-app-name">
        <h1>EasyEvent</h1>
    </div>
    <div class="header-links">
        <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" th:href="@{/index}">Головна</a>
        <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"  th:href="@{/venues/create}">Власникам майданчиків</a>
        <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" th:href="@{/sendApplicationForm}">Організаторам</a>

        <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" class="notification-icon" id="notification-icon">
            <img src="/img/bellWhite.png" class="notification-img" alt="decline"/>
        </a>

        <ul class="menu">
            <li>
                <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"

                   th:href="@{/profile/me}" th:text="${#authentication.principal.username}">Мій акаунт</a>
                <div th:unless="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}">
                    <!-- If not authenticated or if principal is not UserDetails -->
                    <a th:href="@{/login}">Увійти</a>
                </div>

                <ul th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}">
                    <li>
                        <a th:href="@{/logout}">Вийти</a>
                    </li>
                    <!--                    <li>-->
                    <!--                        <a th:if="${isAdmin}">Додати артиста</a>-->
                    <!--                    </li>-->
                </ul>


            </li>
        </ul>
    </div>
</div>
<div class="main-block">
    <div class="content-block main-content-block">
        <h1 class="profile-create-block-h1">Організаторам</h1>
        <br>
        <div id="error-message" class="error-message"></div>
        <div class="scrollable-block">
            <form class="profile-create-form" id="filter-form" th:action="@{/filter}" method="post">
                <p style="font-size: 22px" class="app-text2">Для знаходження майданчику для вашої події, вам необхідно обрати з таблиці
                    майданчики та заповнити відповідну форму нижче</p>
                <br>
                <div class="filter-container">
                    <input type="date" name="filterDate" class="filter-input" placeholder="Дата" required/>
                    <select name="filterCity" id="filterCity" class="filter-input" placeholder="Місто">
                    <option value="" selected disabled>Місто</option>
                    <option th:each="city : ${cityList}" th:value="${city.getCityName()}"
                            th:text="${city.getCityName()}"></option>
                    </select>
                    <input type="number" name="filterPrice" class="filter-input" placeholder="Ціна" min="0"/>
                    <input type="number" name="filterCapacity" class="filter-input" placeholder="Вмістимість" min="0"/>


                    <div class="button-div">
                        <button class="filter-button2">Застосувати фільтри</button>
                    </div>
                </div>
            </form>
            <!--            th:action="@{/sendApplication}"-->
            <form class="profile-create-form" autocomplete="off" th:action="@{/sendApplication}" method="post"
                  enctype="multipart/form-data">
                <!--            <form class="profile-create-form" autocomplete="off">-->
                <table class="venue-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Назва майданчику</th>
                        <th>Аренда</th>
                        <th>Вмістимість</th>
                        <th>Місто</th>
                    </tr>
                    </thead>
                    <tbody id="venueTableBody">
                    <tr th:each="venue : ${venueList}">
                        <td><input type="checkbox" name="venueList" id="venueList" th:value="${venue.id}"/></td>
                        <td>
                            <a target="_blank" th:href="@{/venues/{venueId}(venueId = ${venue.getId()})}"
                               th:text="${venue.getTitle()}"></a>
                        </td>
                        <td th:text="${venue.getRentPrice()}"></td>
                        <td th:text="${venue.getMaximumSeats()}"></td>
                        <td th:text="${venue.getStreet().getCity().getCityName()}"></td>
                    </tr>
                    </tbody>
                </table>
                <br>

                <label>Оберіть подію</label>
                <select class="form-input" name="activityTitle" id="activityTitle" required>
                    <option th:each="activity : ${activityList}" th:value="${activity.getTitle()}"
                            th:text="${activity.getTitle()}"></option>
                </select>

                <label for="startDate">Дата проведення (початок)</label>
                <input class="form-input" type="date" name="startDate" id="startDate" required/>

                <label>Час початку</label>
                <div class="time-selection">
                    <select class="form-input" name="startTimeHour" id="startTimeHour" required>
                        <option value="" selected disabled>Години</option>
                        <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}"
                                th:text="${hour}"></option>
                    </select>
                    :
                    <select class="form-input" name="startTimeMin" id="startTimeMin" required>
                        <option value="" selected disabled>Хвилини</option>
                        <option th:each="minute : ${#numbers.sequence(0, 59)}" th:value="${minute}"
                                th:text="${minute}"></option>
                    </select>
                </div>

                <label for="endDate">Дата проведення (кінець)</label>
                <input class="form-input" type="date" name="endDate" id="endDate" required/>

                <label>Час закінчення</label>
                <div class="time-selection">
                    <select class="form-input" name="endTimeHour" id="endTimeHour" required>
                        <option value="" selected disabled>Години</option>
                        <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}"
                                th:text="${hour}"></option>
                    </select>
                    :
                    <select class="form-input" name="endTimeMin" id="endTimeMin" required>
                        <option value="" selected disabled>Хвилини</option>
                        <option th:each="minute : ${#numbers.sequence(0, 59)}" th:value="${minute}"
                                th:text="${minute}"></option>
                    </select>
                </div>
                <br>
                <button class="standart-button">Надіслати заявку</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
