<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <title>Preview</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/profile.css">
  <link rel="stylesheet" type="text/css" href="/css/profile_my.css">
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<style>
  .full-width {
    width: 100%; /* Займати всю ширину блока */
    height: 400px; /* Висота обмежена до 400px */
    object-fit: cover; /* Зберігає співвідношення сторін */
    display: block; /* Запобігає додатковим відступам */
  }


</style>
<body class="app-body">

<div class="header">
  <div class="header-app-name">
    <h1>EasyEvent</h1>
  </div>
  <div class="header-links">
    <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" th:href="@{/index}">Головна</a>
    <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"  th:href="@{/venues/create}">Власникам майданчиків</a>
    <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" th:href="@{/sendApplicationForm}">Організаторам</a>

    <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" class="notification-icon" id="notification-icon">
      <img src="/img/bellWhite.png" class="notification-img" alt="decline"/>
    </a>

    <ul class="menu">
      <li>
        <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"

           th:href="@{/profile/me}" th:text="${#authentication.principal.username}">Мій акаунт</a>
        <div th:unless="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}">
          <!-- If not authenticated or if principal is not UserDetails -->
          <a th:href="@{/login}">Увійти</a>
        </div>

        <ul th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}">
          <li>
            <a th:href="@{/logout}">Вийти</a>
          </li>
          <!--                    <li>-->
          <!--                        <a th:if="${isAdmin}">Додати артиста</a>-->
          <!--                    </li>-->
        </ul>


      </li>
    </ul>
  </div>
</div>


<div class="main-block">

  <div class="content-block main-content-block">
    <div class="scrollable-block profile-my-form">
      <h1 class="page-title" th:text="${baner.getActivity().getTitle()}">VenueTitle</h1>
      <br>
      <form class="scrollable-block profile-my-form"  th:action="@{/banner/update/}" method="post" enctype="multipart/form-data" >

        <div class="inline-elements">
          <p class="field-name">Опис події</p>
          <input th:text="${baner.getDescription()}" class="field-input field-textarea" type="text" id="description" name="description"
                    required>
        </div>
        <div class="inline-elements">
          <p class="field-name">Завантажити банер</p>
          <input class="field-input" type="file" id="file" name="file" required>
        </div>
        <input name="activityId" th:value="${baner.getActivity().getId()}" style="visibility: hidden">
        <button class="standart-button">Оновити</button>
        <a th:href="'/activity/' + ${baner.getActivity().getId()}" class="standart-button">Назад</a>
      </form>



    </div>
  </div>

</div>
</div>


</body>

</html>