<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Упс, щось сталось не так</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_my.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
</body>
<style>
    body {
        background-image: url("../../img/ErrorPage.jpg");
    }
</style>
</html>